body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.cite-content {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  background-color: white;
}

.cite-navigation,
.reasons-list,
.advantage-list {
  list-style: none;
}

.cite-navigation a {
  color: #000000;
  line-height: 56px;
}

.cite-navigation a:hover,
.cite-navigation a:focus {
  color: #81b3d2;
}

.cite-navigation {
  padding: 0;
  margin: 0;
  display: flex;
}

.cite-navigation li {
  width: 244px;
  min-height: 56px;
  text-align: center;
}

.cite-navigation li:nth-child(3) {
  margin-left: auto;
}

.header-logo {
  position: absolute;
  margin-left: 530px;
  z-index: 1;
}



.promo-caption {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.promo-reasons {
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.promo {
  background-image: url("/img/content/polygon.png"), url("/img/content/bg-photo.jpg");
  background-repeat: no-repeat;
  background-position:  0 453px, bottom center;
  background-size: contain, 1200px;
  position: relative;
  min-height: 717px;
}

.welcome {
  margin-left: 380px;
  margin-top: 76px;
}

.promo-wrapper {
  height: 216px;
  margin-top: 79px;
  background-color: white;
}
.promo-caption {
  padding-top: 61px;
  width: 440px;
  margin: 0;
  margin-left: 380px;
}

.promo-reasons {
  margin: 0;
  padding-top: 38px;
}

.advantage-content.blue {
  width: 280px;
  height: 146px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding-top: 46px;
  padding-bottom: 64px;
  padding-left: 60px;
  padding-right: 60px;
}

.reasons-list {
  margin: 0;
  padding: 0;
}

.advantage-line {
  display: flex;
  flex-wrap: wrap;
}

.advantage-list {
  padding: 0;
  display: flex;
}
.advantage-list h3 { 
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 161px;
}

.advantage-list p {
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 85px;
}

.advantages-item {
  width: 400px;
}

.advantage-list .housing {
  background-image: url("/img/icon/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  position: relative;
  background-position: left 162px top 60px;
}

.advantage-list .food {
  background-image: url("/img/icon/foot.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  position: relative;
  background-position: left 163px top 62px;
}

.advantage-list .present {
  background-image: url("/img/icon/present.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  position: relative;
  background-position: left 168px top 56px;
}

.advantage-content.blue-two {
  width: 303px;
  height: 142px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding-top: 49px;
  padding-bottom: 65px;
  padding-left: 48px;
  padding-right: 49px;
  margin: 0;
}

.advantages-line.reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.img-wrap {
  margin: 0;
  padding: 0;
}

.advantage-content.bottom-one {
  width: 208px;
  height: 143px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 63px;
  padding-left: 95px;
  padding-right: 97px;
}

.advantage-content.bottom-one h2,
.advantage-content.bottom-two h2,
.advantage-content.bottom-three h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.advantage-content.bottom-two {
  width: 262px;
  height: 142px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 64px;
  padding-left: 69px;
  padding-right: 69px;
}
.advantage-content.bottom-three {
  width: 247px;
  height: 142px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 64px;
  padding-left: 77px;
  padding-right: 77px;
}

.flex-bottom ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.interest-block{
  width: 440px;
  height: 96px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-left: 377px;
  margin-bottom: 52px;
}

.interest-block h2{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.search-sedona {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 138px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #766357;
}

.search-sedona:hover,
.search-sedona:focus {
  background-color: #604e43;
}

.search-sedona:active {
  color: rgba(255, 255, 255, .3);
  background-color: #503e33;
}

.search-hotels {
  font-weight: bold;
  background-color: #ffffff;
  width: 568px;
  margin-left: 316px;
}

.form-wrap {
  background-image: url("../img/content/map.jpg");
  background-repeat: no-repeat;
  position: relative;
  min-height: 474px;
}

.search-hotels {
  width: 568px;
  background-color: #ffffff;
  margin-left: 316px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;

}

.check-in {
  width: 568px;
  margin-top: 55px;
  margin-bottom: 30px;
}

.check-out {
  width: 568px;
  margin-bottom: 30px;
}

.adults,
.children {
width: 284px;
margin: 0px;
text-align: left;
}
.check-in label {
  padding-left: 55px;
  padding-right: 21px;
}
.check-out label {
  padding-left: 55px;
  padding-right: 17px;
}
.search-hotels input[type="text"] {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  margin-left: 21px;
  position: relative;
  border: none;
  outline: none;
  margin: 0;
  
  }
.search-hotels input[value] {
text-transform: uppercase;
padding-left: 15px;
font-weight: bold;
color: black;
}
.search-hotels input[type="text"]:hover {
background-color: #ebebeb;
outline: 1px solid green;
}
.search-hotels input[type="text"]:focus {
background-color: #ffffff;
outline: red;

}

.calendar {
  margin: 0;
  margin-top: 9px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 799px;
}
.calendar svg:hover,
.calendar svg:focus {
fill: #000000;
}

.calendar svg:active {
fill: #81b3d2;
border: none;
}

.search-hotels input[name="children"],
.search-hotels input[name="adults"]{
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
  border: none;
  position: relative;
  text-align: center;
}

.adults label,
.children label {
   padding-left: 55px;
}

.minus, .plus {
   border: none;
   background-color: #f2f2f2;
   padding: 0;
   margin: 0;
   color: #a9a9a9;
   font-weight: bold;
   position: absolute;
}

.adults input[type="text"]{
  left: 78px;
  width: 38px;
  height: 38px;
  padding-left: 0;
}
.children input[type="text"]{
  left: 73px;
  width: 38px;
  height: 38px;
  padding-left: 0;
}
.minus {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
}
.plus {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.adults .plus {
  left: 562px;
}

.adults .minus {
  left: 485px;
}

.children .plus {
  left: 808px;
}
.children .minus {
  left: 731px;
}
.plus:hover,
.plus:focus,
.minus:hover,
.minus:focus {
color: #000000;
}

.plus:active,
.minus:active {
color: #81b3d2;
}

.button-sent-search {
  margin: 55px;
}
.sent-search {
  border: none;
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 196px;
  padding-right: 197px;

  background-color: #81b3d2;
}

.sent-search:hover,
.sent-search:focus {
background-color: #669ec0;
}

.sent-search:active {
color: rgba(255, 255, 255, 0.3);
background-color: #5496bd;
}

.main-footer {
   margin: 0;
   padding-top: 36px;
   padding-bottom: 32px;
   padding-left: 132px;
   padding-right: 101px;
   background-color: #ffffff;
   color: #000000;
   display: flex;
   align-items: center;
   position: relative;
   opacity: 0.9;
}

.contacts {
   display: flex;
   flex-direction: column;
   margin: 0;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px; 
}
.tel {
  color: black;
}

.socials {
  padding-left: 169px;
  padding-right: 228px;
  
}
.icons {
  display: flex;
  padding: 0px;
}

.icon-back {
  width: 46px;
  height: 48px;
  position: relative;
  
  display: flex;
   
  background-color: #81b3d2;
}
.icon-back:not(:last-child) {
  margin-right: 6px;
}

.icon-back:focus,
.icon-back:hover {
background-color: #669ec0;
}

.icon-back:active {
background-color: #5496bd;
}


.twitter::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 48px;
  background-position: 50% 50%;
  background-image: url(../img/icon/twitter.svg);
  background-repeat: no-repeat;
}

.facebook::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 48px;
  background-position: 50% 50%;
  background-image: url(../img/icon/fb-icon.svg);
  background-repeat: no-repeat;
}

.youtube::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 48px;
  background-position: 50% 50%;
  background-image: url(../img/icon/youtube.svg);
  background-repeat: no-repeat;
}

.twitter:active,
.facebook:active,
.youtube:active {
  opacity: 0.3;
}

.copyright {
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.academy {
  width: 115px;
  height: 41px;
}
.academy-logo {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.academy-logo path:hover,
.academy-logo path:focus {
  fill: #81b3d2;
}

.academy-logo path:active {
  fill: #bdbbbc;
}

.cite-navigation .active {
  color: #766357;
}

  .cite-navigation .active {
    color: #766357;
  }
 
  .filter-image {
    position: relative;
    line-height: 21px;
    color: #ffffff;
  
    background-image: url(../img/content/filters.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .filters {
      display: flex;
  }

  .filters fieldset {
    margin-top: 31px;
    padding: 0;
    border: none;
  }

  .filters legend{
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      padding-bottom: 31px;
  }
  
  .filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
  }
  .infrastructure li:not(:last-child),
  .type-housing li:not(:last-child) {
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 21px;
  }

  .infrastructure {
    margin-left: 72px;
    margin-right: 115px;
  }
  .choice {
    margin-top: 31px;
    margin-left: 394px;
  }
  
  .choice span {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
  }

  .range-min,
  .range-max {
    margin-top: 13px;
    margin-bottom: 22px;
  }

  .choice button {
    margin-left: 85px;
    color: #ffffff;
    background: none;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    font-size: 14px;
    line-height: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 35px;
    padding-right: 33px;
  }

  .result {
    display: flex;
    border-bottom: 1px solid rgba(0, 1, 1, 0.2)
  }

  .result h3 {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding-left: 72px;
    padding-top: 31px;
    padding-bottom: 33px;
    padding-right: 49px;
  }

  .bradcrumbs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .bradcrumbs li {
    font-size: 12px;
    line-height: 18px;
    padding-top: 38px;
  }

  .bradcrumbs li:not(:last-child) {
    padding-right: 33px;
  }

  .bradcrumbs li:first-child {
    padding-right: 40px;
  }

  .bradcrumbs input[type="checkbox"] {
    display: none;
  }

  .up {
    margin-left: 504px;
    margin-top: 40px;
    margin-right: 12px;
  }

  .down {
    margin-top: 40px;
  }
  
  .hotels {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .hotel {
    display: flex;
    box-shadow: inset 0 0 0 1px green;
    padding-top: 30px;
    padding-left: 72px;
    padding-bottom: 30px;
  }

  .description-price {
    display: flex;
  }

  .star {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: auto;
    
  }

  .description h3,
  .description-price p,
  .rating p {
    margin: 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    width: 258px;
  }
  .block-button {
    display: flex;
  }

  .rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 73px;
  
  }

  .wdt {
  width: 116px;
  }

  .description h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
  }
.description-price p  {
  line-height: 21px;
  color: #333333;
}

.block-button button {
  width: 110px;
  height: 27px;
  margin-right: 6px;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  line-height: 21px;
  font-weight: bold;
}
.block-button a {
  width: 142px;
  height: 27px;
  margin-right: 6px;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #766357;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
}

.rating p {
  padding: 0;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}
.rating-block {
  line-height: 27px;
  color: #666666;
  text-align: center;
}

.star li:not(:last-child) {
  margin-right: 6px;
}